<h2>Household Electricity Usage</h2>

<label for="appliances">Choose Appliance:</label>

<select name="appliances" id="appliances">
  <option value="stove">Stove</option>
  <option value="tv">TV</option>
  <option value="heater">Heater</option>
  <option value="fridge">Fridge</option>
  <option value="kettle">Kettle</option>
</select>